## Credit Card Customer Segmentation
- This case requires developing a customer segmentation to define marketing strategy
- Unsupervised Learning - There is no target variable

#### Tasks
- Prepare intelligent KPI's
- Provide detailed insights based on the analysis
- Cluster Analysis
- Provide strategic insights

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

- Load Dataset

In [2]:
data_dict = {'CUST_ID': ['C10001'],
             'BALANCE': [40.900749],
             'BALANCE_FREQUENCY': [0.818182],
             'PURCHASES': [95.4],
             'ONEOFF_PURCHASES': [0],
             'INSTALLMENTS_PURCHASES': [95.4],
             'CASH_ADVANCE': [0],
             'PURCHASES_FREQUENCY': [0.166667],
             'ONEOFF_PURCHASES_FREQUENCY': [0],
             'PURCHASES_INSTALLMENTS_FREQUENCY': [0.083333],
             'CASH_ADVANCE_FREQUENCY': [0],
             'CASH_ADVANCE_TRX': [0],
             'PURCHASES_TRX': [2],
             'CREDIT_LIMIT': [1000],
             'PAYMENTS': [201.802084],
             'MINIMUM_PAYMENTS': [139.509787],
             'PRC_FULL_PAYMENT': [0],
             'TENURE': [12]
             }

In [3]:
import pandas as pd

df = pd.DataFrame.from_dict(data_dict)

In [4]:
df

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.4,0,95.4,0,0.166667,0,0.083333,0,0,2,1000,201.802084,139.509787,0,12

In [36]:
df.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE',
       'Monthly_Avg_Purchase', 'Monthly_Cash_Advance', 'Balance_Credit_Ratio',
       'Total_Payment_Ratio'],
      dtype='object')

## Exploratory Data Analysis

In [5]:
### data dimensions

df.shape

(1, 18)

In [6]:
## Data Types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           1 non-null      object
 1   BALANCE                           1 non-null      float64
 2   BALANCE_FREQUENCY                 1 non-null      float64
 3   PURCHASES                         1 non-null      float64
 4   ONEOFF_PURCHASES                  1 non-null      int64
 5   INSTALLMENTS_PURCHASES            1 non-null      float64
 6   CASH_ADVANCE                      1 non-null      int64
 7   PURCHASES_FREQUENCY               1 non-null      float64
 8   ONEOFF_PURCHASES_FREQUENCY        1 non-null      int64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  1 non-null      float64
 10  CASH_ADVANCE_FREQUENCY            1 non-null      int64
 11  CASH_ADVANCE_TRX                  1 non-null      int64
 12  PURCHASES_TRX                     1 non-null      int64
 13  CREDIT_LIMIT                      1 non-null      int64
 14  PAYMENTS                          1 non-null      float64
 15  MINIMUM_PAYMENTS                  1 non-null      float64
 16  PRC_FULL_PAYMENT                  1 non-null      int64
 17  TENURE                            1 non-null      int64
dtypes: float64(8), int64(9), object(1)
memory usage: 276.0+ bytes

----

## Deriving New KPI

---

#### Monthly Average Purchase

In [7]:
df["Monthly_Avg_Purchase"] = df["PURCHASES"]/df["TENURE"]

In [8]:
df["Monthly_Avg_Purchase"].head()

0    7.95
Name: Monthly_Avg_Purchase, dtype: float64

#### Monthly cash advance amount

In [9]:
df["Monthly_Cash_Advance"] = df["CASH_ADVANCE"]/df["TENURE"]

### Purchase Type

In [10]:
df.loc[:,["ONEOFF_PURCHASES","INSTALLMENTS_PURCHASES"]].head()

   ONEOFF_PURCHASES  INSTALLMENTS_PURCHASES
0                 0                    95.4

- Deriving the categorical variable based on user behaviour

In [11]:
def purchasetype(df):
    data_dict = {
        'Purchase_Type_BOTH_ONEOFF_INSTALLMENTS': 0,
        'Purchase_Type_INSTALLMENTS': 0,
        'Purchase_Type_NONE': 0,
        'Purchase_Type_ONEOFF': 0
    }
    
    for i, row in df.iterrows():
        if (row["ONEOFF_PURCHASES"] == 0) & (row["INSTALLMENTS_PURCHASES"] == 0):
            data_dict['Purchase_Type_NONE'] += 1
        elif (row["ONEOFF_PURCHASES"] > 0) & (row["INSTALLMENTS_PURCHASES"] == 0):
            data_dict['Purchase_Type_ONEOFF'] += 1
        elif (row["ONEOFF_PURCHASES"] == 0) & (row["INSTALLMENTS_PURCHASES"] > 0):
            data_dict['Purchase_Type_INSTALLMENTS'] += 1
        elif (row["ONEOFF_PURCHASES"] > 0) & (row["INSTALLMENTS_PURCHASES"] > 0):
            data_dict['Purchase_Type_BOTH_ONEOFF_INSTALLMENTS'] += 1
    
    return data_dict

In [12]:
dummies_data = purchasetype(df)

In [13]:
dummies = pd.DataFrame(pd.Series(dummies_data)).T

### Limit usage

- Balance to credit limit ratio

In [14]:
df["Balance_Credit_Ratio"] = df["BALANCE"]/df["CREDIT_LIMIT"]

In [15]:
df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,...,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,Monthly_Avg_Purchase,Monthly_Cash_Advance,Balance_Credit_Ratio
0,C10001,40.900749,0.818182,95.4,0,95.4,0,0.166667,0,0.083333,...,0,2,1000,201.802084,139.509787,0,12,7.95,0.0,0.040901

### Payments to Minimum Payments Ratio
- Total Payment Ratio calculate it by dividing your total monthly credit payments by the total minimum due

In [16]:
#added where clause to avoid division by zero

df["Total_Payment_Ratio"] = np.where(df["MINIMUM_PAYMENTS"] == 0,df["MINIMUM_PAYMENTS"], df["PAYMENTS"]/df["MINIMUM_PAYMENTS"])

In [17]:
creditcarddata = df.round(2)

In [18]:
df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,...,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,Monthly_Avg_Purchase,Monthly_Cash_Advance,Balance_Credit_Ratio,Total_Payment_Ratio
0,C10001,40.900749,0.818182,95.4,0,95.4,0,0.166667,0,0.083333,...,2,1000,201.802084,139.509787,0,12,7.95,0.0,0.040901,1.446508

### Data Segregation
- Handling Categorical Variable

In [19]:
#getting the numeric variable names and data
df_numeric = df._get_numeric_data()

In [20]:
numeric_variable_names =  list(df_numeric.columns)

In [21]:
numeric_variable_names

['BALANCE',
 'BALANCE_FREQUENCY',
 'PURCHASES',
 'ONEOFF_PURCHASES',
 'INSTALLMENTS_PURCHASES',
 'CASH_ADVANCE',
 'PURCHASES_FREQUENCY',
 'ONEOFF_PURCHASES_FREQUENCY',
 'PURCHASES_INSTALLMENTS_FREQUENCY',
 'CASH_ADVANCE_FREQUENCY',
 'CASH_ADVANCE_TRX',
 'PURCHASES_TRX',
 'CREDIT_LIMIT',
 'PAYMENTS',
 'MINIMUM_PAYMENTS',
 'PRC_FULL_PAYMENT',
 'TENURE',
 'Monthly_Avg_Purchase',
 'Monthly_Cash_Advance',
 'Balance_Credit_Ratio',
 'Total_Payment_Ratio']

There are many variables having extreme values, i am doing the log transformation on the dataset to remove the outlier effect

In [22]:
#log transformation

credit_log = df_numeric.apply(lambda x: np.log(x + 1))

In [23]:
credit_log.describe()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,...,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,Monthly_Avg_Purchase,Monthly_Cash_Advance,Balance_Credit_Ratio,Total_Payment_Ratio
count,1.000000,1.000000,1.000000,1.0,1.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.0,1.000000,1.000000
mean,3.735304,0.597837,4.568506,0.0,4.568506,0.0,0.154151,0.0,0.080042,0.0,...,1.098612,6.908755,5.312231,4.945277,0.0,2.564949,2.191654,0.0,0.040086,0.894662
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.735304,0.597837,4.568506,0.0,4.568506,0.0,0.154151,0.0,0.080042,0.0,...,1.098612,6.908755,5.312231,4.945277,0.0,2.564949,2.191654,0.0,0.040086,0.894662
25%,3.735304,0.597837,4.568506,0.0,4.568506,0.0,0.154151,0.0,0.080042,0.0,...,1.098612,6.908755,5.312231,4.945277,0.0,2.564949,2.191654,0.0,0.040086,0.894662
50%,3.735304,0.597837,4.568506,0.0,4.568506,0.0,0.154151,0.0,0.080042,0.0,...,1.098612,6.908755,5.312231,4.945277,0.0,2.564949,2.191654,0.0,0.040086,0.894662
75%,3.735304,0.597837,4.568506,0.0,4.568506,0.0,0.154151,0.0,0.080042,0.0,...,1.098612,6.908755,5.312231,4.945277,0.0,2.564949,2.191654,0.0,0.040086,0.894662
max,3.735304,0.597837,4.568506,0.0,4.568506,0.0,0.154151,0.0,0.080042,0.0,...,1.098612,6.908755,5.312231,4.945277,0.0,2.564949,2.191654,0.0,0.040086,0.894662

In [24]:
pd.concat([df,dummies],axis=1).head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,...,PRC_FULL_PAYMENT,TENURE,Monthly_Avg_Purchase,Monthly_Cash_Advance,Balance_Credit_Ratio,Total_Payment_Ratio,Purchase_Type_BOTH_ONEOFF_INSTALLMENTS,Purchase_Type_INSTALLMENTS,Purchase_Type_NONE,Purchase_Type_ONEOFF
0,C10001,40.900749,0.818182,95.4,0,95.4,0,0.166667,0,0.083333,...,0,12,7.95,0.0,0.040901,1.446508,0,1,0,0

In [25]:
#keeping an orignal data copy

creditcarddata_org = pd.concat([df,dummies],axis=1)

In [26]:
creditcarddata_org.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE',
       'Monthly_Avg_Purchase', 'Monthly_Cash_Advance', 'Balance_Credit_Ratio',
       'Total_Payment_Ratio', 'Purchase_Type_BOTH_ONEOFF_INSTALLMENTS',
       'Purchase_Type_INSTALLMENTS', 'Purchase_Type_NONE',
       'Purchase_Type_ONEOFF'],
      dtype='object')

In [27]:
#merging the log data and dummies data
creditcarddata_merged = pd.concat([credit_log,dummies],axis = 1)

In [28]:
creditcarddata_merged.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,...,PRC_FULL_PAYMENT,TENURE,Monthly_Avg_Purchase,Monthly_Cash_Advance,Balance_Credit_Ratio,Total_Payment_Ratio,Purchase_Type_BOTH_ONEOFF_INSTALLMENTS,Purchase_Type_INSTALLMENTS,Purchase_Type_NONE,Purchase_Type_ONEOFF
0,3.735304,0.597837,4.568506,0.0,4.568506,0.0,0.154151,0.0,0.080042,0.0,...,0.0,2.564949,2.191654,0.0,0.040086,0.894662,0,1,0,0

In [29]:
##dropping the variables used to create the KPI
var_names = ["BALANCE","PURCHASES","PAYMENTS","MINIMUM_PAYMENTS","PRC_FULL_PAYMENT","TENURE","CASH_ADVANCE","CREDIT_LIMIT"]


creditcarddata_new = creditcarddata_merged[[x for x in creditcarddata_merged.columns if x not in var_names]]

In [30]:
creditcarddata_new.head()

,BALANCE_FREQUENCY,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,Monthly_Avg_Purchase,Monthly_Cash_Advance,Balance_Credit_Ratio,Total_Payment_Ratio,Purchase_Type_BOTH_ONEOFF_INSTALLMENTS,Purchase_Type_INSTALLMENTS,Purchase_Type_NONE,Purchase_Type_ONEOFF
0,0.597837,0.0,4.568506,0.154151,0.0,0.080042,0.0,0.0,1.098612,2.191654,0.0,0.040086,0.894662,0,1,0,0

In [31]:
creditcarddata_new.shape

(1, 17)

In [32]:
#datatypes of new dataframe

creditcarddata_new.dtypes

BALANCE_FREQUENCY                         float64
ONEOFF_PURCHASES                          float64
INSTALLMENTS_PURCHASES                    float64
PURCHASES_FREQUENCY                       float64
ONEOFF_PURCHASES_FREQUENCY                float64
PURCHASES_INSTALLMENTS_FREQUENCY          float64
CASH_ADVANCE_FREQUENCY                    float64
CASH_ADVANCE_TRX                          float64
PURCHASES_TRX                             float64
Monthly_Avg_Purchase                      float64
Monthly_Cash_Advance                      float64
Balance_Credit_Ratio                      float64
Total_Payment_Ratio                       float64
Purchase_Type_BOTH_ONEOFF_INSTALLMENTS      int64
Purchase_Type_INSTALLMENTS                  int64
Purchase_Type_NONE                          int64
Purchase_Type_ONEOFF                        int64
dtype: object

In [33]:
pip install joblib

Requirement already satisfied: joblib in c:\users\bhuvv\appdata\local\programs\python\python311\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
import joblib

# load the model from the file
km_4 = joblib.load("km_4_model.joblib")

# predict the clusters for new data
labels = km_4.predict(creditcarddata_new)

In [35]:
labels

array([2])